# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

*.cs text
*.dll.config text
*.exe.config text
*.md text
*.resx text
*.targets text

*.sh text eol=lf

*.sln text eol=crlf
